.container {
  margin: 0 auto;
  width: 960px;
}

.place {
	border-color: #CCC;
	border: 1px solid #CCC;
	margin-bottom: 20px;
	padding: 10px;
}

.place h2{
	border-bottom: 1px dashed #7B5E7B;
	margin: 0;
}

body {
	background: #adc178;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana,
	sans-serif;
	line-height: 1.6;
}

.place {
	background-color: #FFF;
	border: 2px solid #CCC;
	border-color: #344e41;
	margin-bottom: 20px;
	padding: 10px;
}

.place a {
	color: #2C88A7;
	font-weight: bold;
}

h1 {
	text-decoration: none;
	font-size: 33px;
	color: #344e41;
}

.place img {
	border: 1px dashed #7B5E7B;
	float: left;
	margin: 10px 10px 0 0;
    padding: 2px;
}

.footer {
	font-size: 15px;
	text-align: center;
}

.sidenote {
	background-color: #FFFBE4;
	border: 1px solid #81667a;
	padding: 10px;
}

.sidenote h3 {
	font-size: 17px;
	margin-top: 0;
}

.sidenote ol {
	font-size: 14px;
}

.places {
	float: left;
	width: 660px;
}

.sidenote {
	background-color: #AA767C;
	border: 2px solid #63474D;
	color: #F7EED8;
	float: right;
	padding: 10px;
	width: 260px;
	margin-bottom: 10px;	
}

#topo{
	margin-top: 97px;
}


.clear{ 
    clear:both; 
}
